body{
  background-color: #FFDF00 ;
}
h1{
  h1 { font-family: "Nosifer Caps";
       font-size: 24px;
       font-style: normal;
       font-variant: normal;
       font-weight: 700;
       line-height: 26.4px; }
}

h2{
  color: white
  	;
}
